includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - src
        - tests
        - main.php
    ignoreErrors:
        - identifier: missingType.iterableValue